<!-- import { MatSidenavModule } from '@angular/material/sidenav' -->

<mat-sidenav-container> 

  <mat-sidenav>
    Sidenav
  </mat-sidenav>

  <mat-sidenav-content>
    Main Content 
  </mat-sidenav-content>

</mat-sidenav-container>


<br>

<!-- Sidenav is always hidden by default ! -->



<mat-sidenav-container>

  <mat-sidenav [(opened)]="is_">
    Sidenav
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button (click)="buttonClicked()" >Open</button>
  </mat-sidenav-content>

</mat-sidenav-container>
<br>

<mat-sidenav-container>

  <mat-sidenav mode="over" [(opened)]="is_">
    Sidenav
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button (click)="buttonClicked()">Open</button>
  </mat-sidenav-content>

</mat-sidenav-container>

<br>


<mat-sidenav-container>

  <mat-sidenav mode="push" [(opened)]="is_">
    Sidenav
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button (click)="buttonClicked()">Open</button>
  </mat-sidenav-content>

</mat-sidenav-container>


<br>


<mat-sidenav-container>

  <mat-sidenav mode="side" [(opened)]="is_">
    Sidenav
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button (click)="buttonClicked()">Open</button>
  </mat-sidenav-content>

</mat-sidenav-container>


<br>


<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" [(opened)]="is_">
    Sidenav
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button (click)="sidenav.toggle()">Toggle for hamburger menu</button>
  </mat-sidenav-content>

</mat-sidenav-container>




