
<!-- this following has to be triggered by programmaticaly
  import { MatMenuModule } from '@angular/material/menu'
-->


<div class="container">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Frontend</button>
    <button mat-menu-item>Backend</button>
  </mat-menu>
  
  <button mat-raised-button [matMenuTriggerFor]="appMenu">Menu</button>


  <mat-menu #subMenu="matMenu" >
    <button mat-menu-item>React</button>
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>

</div>