.container {
    width: 75%;
    margin: 100px auto;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // justify-content: center;
    // grid-gap:100px; 
}


.navbar {
    justify-content: space-between;
    span {
        padding-right: 1rem;
    }
}


mat-sidenav-container {
    height: 100vh;
    mat-sidenav,mat-sidenav-content {
        padding: 16px;
    }
    mat-sidenav {
        background-color: lightcoral;
        width: 200px;
    }
}