<!-- import { MatAutocompleteModule } from '@angular/material/autocomplete' -->


<div class="container">

    <div>
        <h1>Not autocomplete</h1>
        <form>
            <mat-form-field>
                <input type="text" matInput>
            </mat-form-field>
        </form>
    </div>



    <div>
        <h1> autocomplete</h1>

        <form>
            <mat-form-field>
                <input type="text" matInput [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option" >
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>

</div>



     